@keyframes animate{
    to{
        transform: translate(50%,-10px);
    }
}
#home{
    width: 100%;
    display: flex;
    height: 90vh;
    >section{
        width: 100%;
        &:first-of-type{
            padding-left: $p;
            >div{
                border-top: 1px solid black;
                height: 100%;
                padding-top: 6rem;
                h1{
                    font:900 4rem $text1;
                }
                .typewriterpara{
                    //margin-top: 20px;
                    height: 20px;
                    letter-spacing: 5px;
                    font-size: 1.5rem;
                }
                a{
                    &:first-of-type{
                        background-color: black;
                        color: whitesmoke;
                        padding: 1rem 2.5rem;
                        transition: all 0.3s;
                        &:hover{
                            background-color: rgb(88, 86, 86);
                        }
                    }
                    &:last-of-type{
                        button{
                            background-color: rgb(41, 220, 226);
                        color: rgb(0, 0, 0);
                        padding: 1rem 2.5rem;
                        transition: all 0.3s;
                        font-weight: 700;
                        &:hover{
                            color: whitesmoke;
                            background-color: rgb(15, 89, 109);
                        }
                        }
                        
                    }
                }
                div{
                    display: flex;
                    margin: 5rem 0px;
                    width: 70%;
                    gap: 4rem;
                    align-items: center;
                }
            }

        }
        &:last-of-type{
            border-top:1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            overflow-x: hidden;
            &::after{
                content: "";
                height: 40vmax;
                width: 40vmax;
                border-radius: 50%;
                background-color: $color2;
                z-index: -1;
                position:absolute;
            }
            >img{
                height: 40vmax;
                width: 40vmax;
                object-fit: contain;
            }
        }
        aside{
            display: flex;
            justify-content: space-between;
            width: 70%;
        }
      
        article p {
            display: flex;
            flex-direction: column; /* Change from row to column */
            align-items: flex-start;
            justify-content: center;
            margin-bottom: 2rem;
            font-weight: 500;
            position: relative;
           color: rgb(62, 6, 84);
          }
          
          article p span {
            margin: 0 10px; /* Adjust the margin as needed for spacing */
          }
          aside{
            position: relative;
          }
          aside::after {
            content: "";
            width: 100%;
            height: 12rem; /* Corrected from width to height */
            position: absolute;
            border-radius: 20%;
            bottom: 10%;
            left: 0%;
            z-index: -1;
            background-color: rgb(221, 193, 159);
        }
        
    }
    svg{
        position: absolute;
        bottom: 5%;
        font-size: 3rem;
        left: 50%;
        transition: all 0.3s;
        transform: translateX(50%);
        animation: animate 0.5s  infinite linear alternate;
        }
    }
    .motiontext{
        font-size: 1.7rem;
    }