@media screen and (max-width: 1367px) {
    nav {
      padding: 0 $p_md;
    }
  
    #home {
      height: 100vh;
      > section {
        &:first-of-type {
          padding-left: $p_md;
          > div aside {
            width: 85%;
          }
        }
      }
    }
  
    #work {
      padding: 8rem $p_md;
      height: 110vh;
      > section {
        > article {
          height: 20rem;
          width: 90%;
        }
        .workItem {
          padding: 2rem;
          height: 20rem;
          > aside {
            > p {
              margin: 1rem;
            }
            > a {
              margin: 1rem;
            }
          }
        }
      }
    }
  
    #services {
      padding: $p_md;
      > section {
        height: 90%;
      }
    }
    #testimonial {
      padding: $p_md;
      > section {
        width: 100%;
      }
    }
  
    #contact > section > form {
      > input,
      > button {
        font: 400 0.8rem $text1;
        width: 50%;
      }
    }
  
    footer {
      padding-left: $p_md;
    }
  }
  
  @media screen and (max-width: 1100px) {
    nav {
      padding: 0 $p_base;
    }
  
    #home {
      height: 110vh;
      > section {
        &:first-of-type {
          padding-left: $p_base;
          > div {
            > h1 {
              font: 900 3rem $text1;
            }
  
            aside {
              width: 100%;
            }
          }
        }
      }
    }
  
    #work {
      width: 100%;
      height: 100vh;
      padding: 8rem $p_md;
    
      > h2 {
        font: 600 2.5rem $text2;
        padding: 0.5rem;
        margin: auto;
        border-bottom: 1px solid black;
        width: fit-content;
      }
    
      > section {
       // margin-top: 4rem;
        width: 100%;
        height: 100%;
        background-color: rgb(90, 59, 122);
        display: flex;
        align-items: center;
        justify-content: center;
    
        > article {
          width: 80%;
          height: 100%; /* Set the article height to 100% */
        }
    
        .workitems {

          height: 90%;
          width: 100%;
          margin: auto;
          margin-top: 1rem;
          background-color: rgb(132, 221, 221);
          display: flex;
          padding: 2rem;
          box-shadow: 0 0 20px 5px black;
    
          > img {
            border-radius: 20px;
            width: 40%;
            object-fit: cover;
          }
    
          > aside {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            > p {
              letter-spacing: 3px;
              line-height: 170%;
              margin: 2rem;
            }
    
            > a {
              background-color: orange;
              padding: 0.7rem 2rem;
              margin: 2rem;
              color: white;
              transition: all 0.5s;
    
              &:hover {
                background-color: rgb(131, 99, 41);
              }
            }
          }
        }
      }
    }
    
  
    #services {
      padding: $p_base_inverse;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 900px) {
    nav {
      padding: 0 $p_sm;
      > h2 {
        font-size: 1.8rem;
      }
      > div {
        gap: 1rem;
      }
    }
  
    #home {
        margin-bottom: 10rem;
      > section {
        &:first-of-type {
          padding-left: $p_sm;
          > div {
            > div {
              gap: 2rem;
              width: 100%;
            }
            aside {
              flex-direction: column;
            }
          }
        }
      }
    }
  
    #work {
      padding: 3rem $p_zero;
      margin-bottom: 10rem;
      > section {
        
        > article {
          height: 35rem;
          
        }
        .workItem {
          margin-top: 30rem;
          align-self: center;
        
        }
      }
    }
  
    #services {
      padding: $p_sm_inverse;
      height: 90vh;
    }
    #testimonials {
        padding: $p_zero;
        height: auto;
        > h2 {
          padding: 3rem;
          margin-bottom: 0%;
        
        }
        > section {
          padding: 3rem;
          padding-bottom: 0;
          height: 40rem;
          justify-content: space-evenly;
          align-items: center;
        
          > article {

            width: 30%;
            height: 50% ; /* Change the height here */
          }
        }
      }
      
    
  
    #contact > section > form {
      > h2 {
        font: 100 2.3rem $text2;
      }
      > input,
      > button {
        width: 65%;
      }
    }
  
    footer {
      padding-left: $p_zero;
      grid-template-columns: 1fr;
      > div {
        width: 100%;
        border: none;
        p {
          width: 50%;
          margin: 2rem auto;
        }
      }
      > a {
        margin: 1rem;
      }
    }
  }
  
  @media screen and (max-width: 786px) {
    nav {
      > div,
      > a {
        display: none;
      }
    }
    .navBtn {
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    #home {
      height: unset;
      flex-direction: column-reverse;
  
      > section {
        &:first-of-type {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
  
          > div {
            border: none;
            padding-top: 3rem;
            > h1 {
              font: 900 2.5rem $text1;
            }
            > div {
              flex-direction: column;
            }
            aside {
              align-items: center;
            }
  
            article[data-special] {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              span {
                display: block;
                width: 70%;
                word-wrap: break-word;
              }
            }
  
            article {
              width: 100%;
              text-align: center;
              &::after {
                top: 0;
                left: 0%;
              }
            }
          }
        }
  
        &:last-of-type {
          border: none;
        }
      }
  
      > svg {
        font-size: 2rem;
        bottom: 12%;
      }
    }
  
    #work {
      > section {
        > article {
          width: 100%;
          height: 50%;
        }
        .workItem {
          height: 30vmax;
          box-shadow: 0 0 5px $color1;
          > aside {
            padding: 1rem;
  
            > h3 {
              margin: 1rem;
              font-size: 1rem;
            }
  
            > p {
              letter-spacing: 0;
              line-height: unset;
              margin: 0%;
            }
  
            > a {
              padding: 0.4rem 0.7rem;
              font-size: 0.7rem;
              margin: 1rem;
            }
          }
        }
      }
    }
  
    #timeline {
        font-size: 1rem;
        height: 90vh;
        
      .timelineBox::after {
        left: 28px;
        
      }
  
      .timelineItem {
        width: 100%;
        padding-left: 5rem;
        
        font-size: 0.9rem !important;
      }
  
      .rightTimeline {
        left: 0%;
      }
      
      .leftTimeline,
      .rightTimeline {
        &::after {
          left: 9px;
        }
      }
    }
  
    #services {
      > section {
        margin: 3rem 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        .serviceBox1 {
          grid-column: 1/3;
          grid-row: unset;
        }
  
        .serviceBox4 {
          grid-column: 1/3;
        }
      }
    }
    #testimonial > section {
      height: unset;
      gap: 3rem;
      > article {
        width: 100%;
        height: 70%;
      }
    }
  
    #contact {
      grid-template-columns: 1fr;
      > aside {
        display: none;
      }
    }
  }
  @media screen and (max-width: 500px)
  {
    #testimonials {
      width:unse;
      padding: $p_sm;
      background-color: white;
      color: rgb(0, 0, 0);
    
      > h2 {
        font: 600 2.5rem $text2;
        text-align: center;
        //margin-bottom: 3rem;
      }
    
      > section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; /* Adjust this according to your layout */
        width: 100%;
        height: 25rem;
        padding: 2rem;
        background-color: rgb(181, 161, 161);
      
        overflow-x: scroll; /* Set scrolling to X-axis */
        overflow-y: hidden; /* Prevent scrolling in the Y-axis */
     //   white-space: nowrap; /* Prevent content from wrapping to new lines */
     flex-wrap: nowrap;
    
        article {
          height: 100%;
          width: 30%;
          background-color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
        //  padding: 2rem;
    
          > img {
            position: absolute;
            top: 0%;
            width: 100px;
            height: 100px;
            object-fit: contain;
            border-radius: 50%;
            transform: translateY(-50%);
          }
    
          p {
            font: 500 0.9rem $text2;
            letter-spacing: 2px;
            line-height: 150%;
            margin: 20px 0;
            text-align: center;
            overflow: hidden;
          }
    
          h4 {
            margin-top: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
      }
    }
    
    
  }
  @media screen and (max-width: 400px)
  {
    #work{
      width: 100%;
      height: 100vh;
      padding: 0rem;
      >h2{
          font:600 2.5rem $text2;
        
         
          border-bottom: 1px solid black;
        
  
  
      }
      >section{
          
          width: 100%;
          height: 100%;
          background-color: rgb(90, 59, 122);
          display: flex;
          align-items: center;
          justify-content: center;
          >article{
              width: 100%;
              height: 80%
          }
          .workitems{
             // overflow-y: auto;
              height: 100%;
              width: 95%;
              margin: auto;
              background-color: rgb(132, 221, 221);
              display: flex;
              padding: 2rem;
              box-shadow: 0 0 20px 5px black;
              >img{
                  border-radius: 20px;
                  width: 50%;
                  object-fit: cover;
              }
              >aside{
                  width:60%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  >p{
                      letter-spacing: 3px;
                      line-height: 170%;
                      margin: 2rem;    
              }
              >a{
                  background-color: orange;
                 
                  
                  color: white;
                  transition: all 0.5s;
                  &:hover{
                      background-color: rgb(131, 99, 41);
                  }
              }
          }
      }
  }
  }
  }